*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-rows: 0.9fr auto 1fr;
    
}
.encabezado{
    background: $background-header;   
    background: linear-gradient(56deg, rgba(230,185,205,0.896796218487395) 43%, rgba(233,148,228,0.036852240896358524) 100%);
    position: sticky;
    top: 0%;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 30%; 
    grid-template-columns: 20% 60% 20%; 
    .buscador{
        grid-row: 1;
        grid-column: 1;
        height: 17px;
        place-self: center; 
    }  
    .contLogo{
        justify-self: center;

        .logo{
            grid-column: 2;
            grid-row: 1;
            width: 200px;
            height: 163px;
        }
    }
    
    .contBotones{
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        justify-content: space-around;
        align-items: center;
    
        .boton{
            padding: 5px;
            background: transparent;
            cursor: pointer;
            grid-column: 3;
            grid-row: 1;

            &:hover{
                background-color: $hover-btn;
            }
        }
    }
    .nav{
        grid-row: 2;
        grid-column: 2;
        width: 100%;
        align-self: center;
        .listaNav{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .nav-items{
                padding: 1%;
                list-style: none;
                :hover{
                transform: scale(1.1);
                }
                .nav-list{
                    text-decoration: none;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    color: black;
                    font-weight: bold;
                    transition: all 1s;
                }
            }
        }
    }  
                 
}

    
        

    


           
   
    


  
    

    
        

    


    




    



