
.seccion{
    grid-row: 2;
    .titulo{
        font-family: 'Josefin Sans', sans-serif;
        padding: 35px;
        margin-bottom: 20px;
        display: flex; 
        justify-content: center;
    }
    .integrador{
        margin: 0px 10%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        display: grid;
        grid-template-areas:      
          "prod1 prod2 prod3 prod4"
          "prod5 prod6 prod7 prod8";
        grid-template-rows: 50% 50%;
        grid-template-columns: 25%;
        grid-row-gap: 50px;
        animation-name: expandir;
        animation-duration: 1s;
        animation-delay: 0;
        animation-iteration-count: 1;    
        animation-timing-function: ease-in;
        .pic{
            justify-self: center;
          
        }
    }
    @keyframes expandir{
        5%{
            transform: scale(1.05);
        }
        10%{
            transform: scale(1.10);
        }
        
        0%{
            transform: scale(1);
        }
    }
}

.prductosTutoriales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    font-family: 'Martian Mono', monospace;
    font-size: 13px;
    padding: 0px 18% 4% 18%;
    // margin: 50px 215px4
}

.botonMasProductos{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}
.masProductos{
    padding: 1%;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: palevioletred;
    cursor: pointer;
    }
.contacto{
        display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    /* background-color: aqua; */
    grid-area: conta;
    justify-items: center;
    text-align: -webkit-center;
    padding: 0 20% 0 10%;
}
    
.nombre{
    padding: 5px;
}
.email{
    padding: 5px;
    margin-top: 10px;
}
.asunto{
    padding: 5px;
    margin-top: 10px;
}
.mensaje{
    padding: 5px;
    margin-top: 10px;

}

.encabezadoContacto{    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    /* background-color: blue; */
    grid-area: redes;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
.loren{
    display: block;
    grid-area: loren;
    /* background-color: pink; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 13% 20%;
    }


.instaContacto{
    text-decoration: none;
    color: black;
    }
#contactoArea{
    display: grid;
    grid-template-areas:
        "redes redes"
        "loren conta";
    grid-template-columns: 1fr 2fr;
}
.redesConta{
    padding: 3%;

}
#enviar{
    margin-right: 37%;
}

.text{
    text-align: -webkit-center;
}
.vertodoslosproductos{
    place-self: center;
    width: 215px;
    margin-top: 7%;
}
s{
    color: rgb(177, 186, 186);
}


.infoCompras{
    display: flex;
    flex-direction: column;
    align-items: center;
}