/* RESPONSIVE */
@media screen and (min-width:768px) and (max-width:1023px) {
    .integrador {      
        grid-template-areas:
            "prod1 prod2 prod3"
            "prod4 prod5 prod6"
            "prod7 prod8 prod9";
        grid-template-columns: 33%;
        grid-row-gap: 5%;
        grid-template-rows: 33%;
    }
    .encabezado{
        grid-template-rows: 80% 20%;
        grid-template-columns: 25% 50% 25% ;
    }
    .pieDePag{
        grid-column-gap: 56px;
        margin-top: 10%;
        height: 75%;
    }
    .contList{
        text-align: center;
    }
    .redes{
        font-size: larger;
    }
    .icono{
        width: 35px ;
    }
}
@media screen and (min-width:600px) and (max-width:767px){
    .pieDePag{
        grid-column-gap: 44px;
        margin-top: 15%;
        height: 67%;
    }
    .integrador {      
        grid-template-areas:
            "prod1 prod2"
            "prod3 prod4"
            "prod5 prod6"
            "prod7 prod8"
            "prod9 prod10";
        grid-template-columns: 50%;
        grid-row-gap: 5%;
        grid-template-rows: 20%;
    } 
    .contList{
        text-align: center;
    }
    .redes{
        font-size: larger;
    }
    .icono{
        width: 35px ; 
    }
    .encabezado{
        grid-template-rows: 80% 20%;
        grid-template-columns: 20% 60% 20% ;
    }
    .logo{
        width: 172px;
        height: 134px;
    }
    body{
        grid-template-rows: 0.85fr auto 1fr;
    }
    .buscador{
        width: 118px;
    }
    .contBotones{
        flex-direction: column;
    }
}
@media screen and (min-width:480px) and (max-width:599px){
    .integrador {      
        grid-template-areas:
            "prod1 prod2"
            "prod3 prod4"
            "prod5 prod6"
            "prod7 prod8"
            "prod9 prod10";
        grid-template-columns: 50%;
        grid-row-gap: 5%;
        grid-template-rows: 20%;
    }
    .pieDePag{
        height: 62%;
        margin-top: 22%;
    }
    .ubica{
        display: none;
    }
    .contList{
        text-align: center;
    }
    .redes{
        font-size: larger;
    }
    .icono{
        width: 35px ; 
    }
    #header{
        display: grid;
        grid-template-areas: 
        "a b c"
        "d d d";
    }
    .logo{
        width: 182px;
        height: 148px;
        grid-area: b;

    }
    .buscador{
        grid-area: a;
        width: inherit;
    }
    .contBotones{
        grid-area: c;
        flex-direction: column;
    }
    .nav{
        grid-area: d;
    }
    .titulo{
        font-size: 19px;
    }
}
@media screen and (min-width:320px) and (max-width:479px){
    .encabezado{
    
    display: flex;
    align-items: center;
    justify-items: stretch;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 380px;
    }
    .buscador{
        height: 11px;
        width: 98px;
        font-size: xx-small;
    }
    
    .integrador {      
        grid-template-areas:
            "prod1" 
            "prod2"
            "prod3" 
            "prod4"
            "prod5" 
            "prod6"
            "prod7" 
            "prod8"
            "pred9";
        grid-template-columns: 100%;
        grid-row-gap: 1%;
        grid-template-rows: 8%; 
        }
        .pieDePag{
            height: 62%;
            margin-top: 22%;
            grid-column-gap: 58px;
        }
        .ubica{
            display: none;
        }
        .contList{
            text-align: center;
        }
        .redes{
            font-size: larger;
        }
        .icono{
            width: 35px ;
        }     
        .titulo{
            font-size: 15px;
        }
        .contacto{
            justify-content: start;
            grid-area: auto;
            margin-left: 56px;
            padding: 0;
            margin-top: 10px;
        }
        .prductosTutoriales{
            flex-direction: column;
            margin: 31px;
            text-align-last: center;
        }
        .masProductos{
            margin-left: -52px;
            margin-bottom: 51px;
        }
        .listaNav{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            /* flex-wrap: nowrap; */
            align-items: center;
        }
        .encabezadoContacto{
            display: flex;
            flex-direction: column;
            }
        .loren{
            display: none;
        }    
        

        
}
        